{
    "printWidth": 132,
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "none",
    "semi": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
